.main-layout-body {
  min-height: 100vh;
}

.left-sidebar,
.left-sidebar-menu {
  background-color: #ffffff;
}

.left-sidebar-menu li {
  color: #000 !important;
}

li.ant-menu-item.ant-menu-item-selected {
  color: #fff !important;
}

li.ant-menu-item.ant-menu-item-selected span.ant-menu-title-content a {
  color: #fff !important;
}

.nav-bar {
  display: grid;
  grid-template-areas: "1 1";
  justify-content: space-between;
}

.header-cart {
  margin: 0 35px;
}

.category-list {
  display: flex;
  gap: 20px;
  padding: 10px;
  text-transform: capitalize;
}

.category {
  border: 1px solid #1677ff !important;
  padding: 10px 13px;
  cursor: pointer;
  border-radius: 10px;
}

.category-active {
  border: 1px solid #1677ff;
  background-color: #1677ff;
  color: #fff;
}

.demo-logo-vertical {
  text-align: center !important;
  font-size: 60px;
}

/* ---------- Login ---------- */

#normal_login,
#register {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(36, 36, 36, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 50px;
}

/* ---------- css button ---------- */

.home-content-area {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.home-content-area .ant-col {
  width: 150px;
}

.home-content-area .ant-col .ant-card-cover img {
  object-fit: contain;
}

.home-content-area .ant-card-body {
  height: 100px;
}

.card-items .ant-card {
  border-radius: 20px;
}

.card-items .ant-card-body {
  padding: 20px 10px;
}

.add-to-cart {
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #1677ff !important;
  cursor: pointer;
  background-color: #1677ff;
  color: #ffffff;
}

.item-price-home {
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
}
