.main-layout-body {
  min-height: 100vh;
}

.left-sidebar,
.left-sidebar-menu {
  background-color: #ffffff;
}

.left-sidebar-menu li {
  color: #000 !important;
}

li.ant-menu-item.ant-menu-item-selected {
  color: #fff !important;
}

li.ant-menu-item.ant-menu-item-selected span.ant-menu-title-content a {
  color: #fff !important;
}

.nav-bar {
  display: grid;
  grid-template-areas: "1 1";
  justify-content: space-between;
}

.header-cart {
  margin: 0 35px;
}

.category-list {
  display: flex;
  gap: 20px;
  padding: 10px;
  text-transform: capitalize;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category {
  border: 1px solid #1677ff !important;
  padding: 10px 13px;
  cursor: pointer;
  border-radius: 10px;
}

.category-active {
  border: 1px solid #1677ff;
  background-color: #1677ff;
  color: #fff;
}

.demo-logo-vertical {
  text-align: center !important;
  font-size: 60px;
}

/* ---------- Login ---------- */

#normal_login,
#register {
  max-width: 600px;
  width: 100%;
  padding: 60px;
  margin: 50px;
  backdrop-filter: blur(19px) saturate(104%);
  -webkit-backdrop-filter: blur(19px) saturate(104%);
  background-color: rgba(17, 25, 40, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-page,
.register-page {
  background-color: green;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4); /* optional dark overlay */
}

form#normal_login .ant-form-item:last-child .login-form-button {
  padding: 20px 60px;
  font-size: 20px;
}

.login-checkbox .ant-row label,
.login-txt
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content,
.login-txt
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  a {
  color: #fff;
  font-size: 15px;
}

#normal_login input {
  padding: 10px;
}

.login-txt
  .ant-row
  .ant-form-item-control-input
  .ant-form-item-control-input-content
  a:hover {
  color: #1677ff;
}

.login-txt .ant-form-item-control-input-content {
  display: flex;
  gap: 15px;
  align-items: center;
}

.login-checkbox label {
  display: flex;
  gap: 10px;
}

.login-txt .ant-form-item-control-input-content span {
  display: flex;
  gap: 10px;
}

@media (max-width: 767px) {
  #normal_login {
    margin: 50px;
  }

  #normal_login .ant-form-item:last-child .login-form-button {
    width: 100%;
  }

  .login-txt .ant-form-item-control-input-content {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

/* ---------- css button ---------- */

.home-content-area {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.home-content-area .ant-col {
  width: 150px;
}

.home-content-area .ant-col .ant-card-cover img {
  object-fit: contain;
}

.home-content-area .ant-card-body {
  height: 100px;
}

.card-items .ant-card {
  border-radius: 20px;
}

.card-items .ant-card-body {
  padding: 20px 10px;
}

.add-to-cart {
  padding: 10px;
  border-radius: 20px 0px 20px 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 1px solid #1677ff !important;
  cursor: pointer;
  background-color: #1677ff;
  color: #ffffff;
}

.item-price-home {
  font-size: 20px;
  font-weight: 100;
  line-height: 35px;
}
